body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 2fr 1fr 80px;
    grid-template-areas:
        "n n n n"
        "m m m a"        
        "cC cA cB a"
        "f f f f";
    //grid-gap: ;
}

nav {
    background-color: #525252;
    grid-area: n;
}

aside {
    background-color: darkgray;
    grid-area: a;
}

main {
    background-color: #f2f2f2;
    grid-area: m;
}

#cA {
    background-color: gray;
    grid-area: cA;  
    border: black;  
    border-radius: 0.5rem;
}

#cB {
    background-color: lightgray;
    grid-area: cB;
    order: black;  
    border-radius: 0.5rem;
}

#cC {
    background-color: gray;
    grid-area: cC;
    order: black;  
    border-radius: 0.5rem;
}

footer {
    background-color: #525252;
    grid-area: f;
}

body * {
    border-radius: 0px;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 60px 2fr 1fr 1fr 1fr 60px;
        grid-template-areas:
            "n"
            "a"
            "m"
            "cA"
            "cB"
            "cC"
            "f";   
    }     
}